{:paths   ["src"]
 :deps    {provisdom/utility-belt   {:git/url "https://github.com/Provisdom/utility-belt.git"
                                     :sha     "9a386af0693387a7c6531ed94b17e541e423a143"}
           provisdom/math           {:git/url "https://github.com/Provisdom/math.git"
                                     :sha     "ccf4c13369a3f1b07068ded7718b189893d10d99"}
           uncomplicate/neanderthal {:mvn/version "0.46.0"
                                     :exclusions  [org.jcuda/jcuda-natives org.jcuda/jcublas-natives]}
           uncomplicate/fluokitten  {:mvn/version "0.9.1"}}
 :aliases {:dev         {:extra-paths ["siderail"]}
           :test        {:extra-paths ["test" "siderail"]
                         :extra-deps  {criterium/criterium        {:mvn/version "0.4.6"}
                                       org.slf4j/slf4j-nop        {:mvn/version "2.0.9"}
                                       org.clojure/test.check     {:mvn/version "1.1.1"}
                                       provisdom/test             {:git/url "https://github.com/Provisdom/test.git"
                                                                   :sha     "ec0b531bf0e5a8b5897a8dde332bd08d478578f4"}
                                       com.cognitect/transcriptor {:mvn/version "0.1.5"}}}
           :test-runner {:extra-deps {lambdaisland/kaocha           {:mvn/version "1.87.1366"}
                                      lambdaisland/kaocha-junit-xml {:mvn/version "1.17.101"}}
                         :jvm-opts   ["--add-opens=java.base/jdk.internal.ref=ALL-UNNAMED"]
                         :main-opts  ["-m" "kaocha.runner"]}}}